@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared style */
.display-flex {
    display: flex;
}
/* dark 01 */
.text-dark {
    color: #131313;
}
/* dark 02 */
.text-gray {
    color: #424242;
}
/* dark 03 */
.text-light-gray {
    color: #727272;
}
.bg-light {
   background-color:rgba(255, 144, 14, 0.1);
}
.btn-primary {
    background-color: #FF900E;
    color: #FFFFFF;
    border-style: none;
    border-radius: 5px;
    padding: 10px 15px;
}
main {
    max-width: 1440px;
    margin:0 auto;
}
main > section {
    margin-top: 130px;
}
/* header styles */

/* navbar related style */
.ancor-a {
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 400;
    color: #424242;
}
.list {
    list-style: none;
    margin-right: 30px;
}
.navbar {
    justify-content: space-between;
    align-items: center;
    /* padding: 0 40px; */
}
.brand {
    font-size: 1.5em;
    font-weight: bold;
}
.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}
.banner-title {
    font-size: 2em;
    font-weight: 700;
}
.banner-info {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}
#banner-pic-style {
    width: 100%;
    margin: 20px 0px ;
}
/* main section style parts-01 */
.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}
.team {
    align-items: center;
    margin-top: 15px;
}
.our-features {
    margin-left: 73px;
    max-width: 540px;
}
img {
    width: 100%;
}
.features-title {
    font-size: 2.5em;
    font-weight: 700px;
}
#features {
    color: #FF900E;
}
.features-description {
    font-size: 1em;
}
.experience-container {
    max-width: 1440px;
}
.experience-document {
    max-width: 586px;
    max-height: 982px;
}
#experience-title-1 {
    font-size: 2.8em;
    font-weight: bold;
}
.experience-title-2 {
    font-size: 1.2em;
    font-weight: 500;
}
.experience-para {
    font-size: 1em;
    color: #727272;
}
.fact-icon {
    width: 100%;
}
.fact-conainer-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
/* responsive media quarry header section style */
@media screen and (max-width: 576px) {
    .navbar, .nav-links, .team {
        flex-direction: column;
    }
    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features {
        margin-left: 2px;
    }
    
}
/* medium size device */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .team {
        flex-direction: column;
    }
    .our-features {
        margin-left: 50px;
    }
}